* {
    font-family: 'Barlow', sans-serif;
    font-weight: 5; 
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white
}

@font-face {
    font-family: 'dooodleistaregular';
    src: url('dooodleista-webfont.woff2') format('woff2'),
         url('dooodleista-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}

.top_container{
    height: 0%;
    width: 100%;
    position: relative;
    padding: 0px 15px 180px 0px;
    color: white;
    box-shadow: 10px 0px 50px rgba(0, 6, 83); 
    z-index: 2;
}

.nav_bar img {
    width: 300px;
    height: 50px;
    margin: 13px 0px 0px 40px;
    position: absolute;
    top: 0px; 
}

.nav_bar ul {
    position: absolute;
    right: 40px;
    top: 30px;
}

.nav_bar ul li {
    display: inline;
    list-style-type: none;
    padding: 0px 10px 0px 40px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;

}

.nav_bar a {
    text-decoration: none;
    color: white;
}

.nav_bar a:hover {
    text-decoration: none;
    color: white;
    /* border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255, .3); */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 0px 50px rgba(255,255,255, 1);
    border-radius: 10px;
}

.nav_bar {
    background: rgba(96, 97, 130, 0.85); 
    padding: 10px 0px 90px 0px;
}





.search {
    z-index: 1;    
    background: rgba(96, 97, 130, 0.85); 
    width: 50%;
    padding: 0px 0px 50px 0px;
    margin: 120px 0px 0px 0px;
    border-radius: 5px;
    position: relative;
    left: 25%;
}

.search .heading {
    text-align: center;
    font-family: 'dooodleistaregular';
}

.heading h1 {
    font-size: 50px;
}

.form input[type=number], .form input[type=number]:focus {
    color: black;
    border-radius: 5px;
    border-style: none;
}

.form input[type=date], .form input[type=date]:focus {
    color: black;
    border-radius: 5px;
    border-style: none;
}

.form select {
    border-radius: 0px;
    color: black;
}

.search .form {
    text-align: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
}


.search button {
    position: absolute;
    top: 105%;
    left: 45%;
    background: rgba(224, 224, 224, 0.651);
    border-style: none;
    color: white;
    font-family: 'Barlow', sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.search button:hover {
    background: rgba(118, 127, 255, 0.3);
    box-shadow: 0px 0px 50px rgb(255,255,255);
    color: white;
}


.results {
    /* height: 0px; */
    background: rgb(0, 6, 83, 0) url("../images/beach.jpg");
    background-size: 100% 125%;
    z-index: 0;
    animation-name: none; 
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    clip-path: inset(0px 0px 0px 0px);
}

@keyframes example {
    0% {height: 0px; clip-path: inset(0px 0px 0px 0px);}
    /* 50% {height: 218px; clip-path: inset(0px 0px 0px 0px);
    } */
    100% {height: 800px; display: block; clip-path: inset(0px 0px 0px 0px);}
}

.results ul {
    width: 100%;
    display: none;
    position: relative;
    justify-content: center;
}

.results ul li {
    margin-bottom: 40px;
}

.resultContainer {
    background: rgba(96, 97, 130, 0.85);
    position: relative;
    top: 80px;
    border-radius: 5px;
    height: 700px;
    display: none;
    padding-top: 50px;
    overflow: scroll;
    color: white;
}

.resultContainer h2 {
    text-align: center;
    padding: 0px 0px 20px 40px;
    font-family: 'dooodleistaregular';
    font-size: 45px;
}

.resultContainer button {
    position: relative;
    top: 0px;
    left: 0px;
    background: rgba(224, 224, 224, 0.651);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 12px 12px;
}

.resultContainer button:hover {
    background: rgba(118, 127, 255, 0.3);
    box-shadow: 0px 0px 50px rgb(255,255,255);
    color: white;
}

.resultContainer h3 {
    text-align: center;
    font-size: 20px;
}

.resultContainer ul {
    list-style: none;
}

.resultContainer img {
    display: block; 
    margin: 0 auto; 
}

.resultContainer p {
    font-size: 15px;
}

.resultContainer input {
    display: inline;
}

.datePicker {
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    left: 60px;    
}

/* .ui-datepicker {
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    text-align: center;
} */


.things_to_see {
    background-image: url(../images/abstract1.jpg);
    background-size: 100% 180%;
    background-position: top center;
    height: 575px;
    position: relative; 
    color: white;
    z-index: 0;
    box-shadow: 0px -20px 200px 10px black;
}


.things_to_see h2 {
    text-align: center;
    font-family: 'dooodleistaregular';
    font-size: 45px;
}

.things_to_see h3 {
    text-align: center;
}

.things_to_see img {
    margin-top: 10px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(0, 6, 83, .4);
    transition: all .2s ease-in-out; 
}

.things_to_see img:hover {
    transform: scale(1.1);
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgba(224, 224, 224, 0.4)
}


.things_to_see_attractions img{
    position: absolute;
    left: 45px;
}

.things_to_see_concerts img {
    position: absolute;
    left: 60px;
}

.things_to_see_fests img {
    position: absolute;
    left: 60px;
}


.things_to_see a {
    text-decoration: none;
    color: white;
}
.things_to_see h3:hover {
   color: rgba(118, 127, 255, 0.3);
}


.lower_nav_image {
    height: 500px;
    font-family: 'Barlow', sans-serif;
    background-image: url("../images/glasses.jpg");
    background-size: 100% 150%;
    background-position: center center;
    margin: 0px 0px 0px 0px;
}

.lower_nav_grey_layer{
    background: rgba(71, 74, 112, 0.8);
    background-size: 100% 200%;
    background-position: center center;
    padding: 100px 100px 400px 100px;
    margin: 0px -55px 0px -55px;
    box-shadow: -10px 0px 50px rgba(0, 6, 83); 
    z-index: 2
}


.lower_nav ul {
    position: absolute;
    top: 80px;
    left: 5px;
}

.lower_nav ul, .lower_nav ul a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    font-size: 24px;
}

.lower_nav ul li a:hover{
    color: white;
    background: rgba(224, 224, 224, 0.3);
    text-shadow: 1px 5px 50px rgb(255,255,255);
    box-shadow: 0px 0px 50px rgb(255,255,255);
    border-radius: 100px;
}

.lower_nav_social {
    border-left: 5px, solid, black;
}

.lower_nav_social h2 {
    color: white;
    text-align: center;
    font-family: 'dooodleistaregular';
    font-size: 45px;
    position: absolute;
    top: 20px;
    right: 190px;
}

.lower_nav_social ul{
    position: absolute;
    left: 285px;
    top: 100px;
}

.lower_nav_social ul li{
    list-style-type: none;
    display: inline;
    margin: 0px 10px 0px 10px; 
}



.lower_nav_social ul a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    padding: 5px 20px 5px 20px;
    display: inline-block;
    background: rgb(0, 6, 83);
    border-radius: 5px;
    transition: all .1s ease-in-out
}

.lower_nav_social ul a:hover{
    color: rgb(99, 83, 114);
    background: rgb(57, 41, 71);
    box-shadow: 1px 0px 50px rgba(255,255,255, 1);
    transform: scale(1.1);
}

.foot {
    color: rgb(110, 110, 110);
    background: rgb(0, 6, 83);
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
